<!--Move the <form> tag into the /people/_form partial and remove it from the /people/edit and /people/new views. -->
	<!--move the hidden _method into the _form partial and change the value to be the result of a call to people_form_method -->
	<!--<input type="hidden" name="_method" value="put" /> -->
	<h1>Edit a Person</h1>
	<%= erb :"/people/_form" %>
