body {
  background:#f8f8f8 url('/images/background.png');
  font-family:'montserrat', sans-serif;
  font-size: 100%;
  color: #414141;
  margin: 0;
  padding: 0;
}


.new-person {
	padding: 20px;
}

.edit-person {
	padding: 20px;  
  background: url('/images/edit-person-background.jpg');


}

.errors {
  color: #dd0000;
  border: 1px solid #dd0000;
  padding: 5px;
  margin-bottom: 5px;
}


.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  
}


/*Treehouse form class*/

h1 {
  margin: 0 0 28px 0;
  text-align: center;
  color: #ff3366;
  font-family: 'montserrat', sans-serif;
  line-height: 33px;
}

h2 {
  margin: 0 0 28px 0;
  text-align: center;
  line-height: 33px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ff3366;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 33px;
  
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  font-size: 24px;
  font-family: 'OpenSans', 'sans-serif';
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #666666;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #ff3366;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ff3366;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

footer {
  font-size: 20px;
  text-align: center;
  clear: both;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 20px;
  color: #ff3366;

}
