body {
  background:#f8f8f8;
  background:url('img/background.png');
  font-family:'montserrat', arial;
}

.new-person {
	padding: 20px;
	background-color: #efefef;
}

.edit-person {
	padding: 20px;  
	background-color: #efefef;
}

.errors {
  color: #dd0000;
  border: 1px solid #dd0000;
  padding: 5px;
  margin-bottom: 5px;
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68;
}
.responsive-image{
    width: 100%;
    background-size: 100% 100%;
} 

and finally, we serve for every view-port the right image:

/* Retina display */
@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url('/public/img/background.jpg');
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('/public/img/background.jpg');
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .responsive-image{
        background-image: url('../img/tablet.jpg');
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .responsive-image{
        background-image: url('../img/mobile-hd.jpg');
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    .responsive-image{
        background-image: url('../img/mobile-ld.jpg');
    }
}

body {
  background:#f8f8f8;
  background:url('img/background.png');
  font-family:'montserrat', arial;
}

h1 {
  color: #fd395e;
  font-family:'montserrat', arial;
  font-weight: bold;
}

label {

  font-family: 'Open Sans';
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

button {
  color: #fd395e;
  font-family:'montserrat', arial;
  font-weight: normal;
}

input[type="submit"] {
    width: 120px;
    margin-left: 35px;
    display: block;
    background-color: #fd395e;
}
.button { /* .homepage-container #mc-embedded-subscribe 16px */
    background: #F16059;
    height: 4.1875em; 
    margin: 0;
    width: 203px;
    padding: 15px 5%;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    outline: none
}