<!-- Form ERB Template for Numerology app --> 

<div class="search-form">
	
	<% if !@error.nil? %>
  		<p><%= @error %></p>
	<% end %>
	<h1>FIND OUT YOUR NUMEROLOGY NUMBER!</h1>
	<form class="col-md-3" action="/" method="post">
          
		<div class="form-group">
			<label for="birthdate">Enter your birthdate:</label> 
			<input id="birthdate" name="birthdate" type="date" placeholder="mmddyyyy" />
		</div>
		
		<button type="submit">Show Me My Number!</button>
		
	</form>
</div>