<!-- Sinatra ERB Template for Numerology app --> 
<!DOCTYPE html> <html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/people.css">
	<!-- Latest compiled and minified CSS 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
</head>
<title>Numerology App</title> </head>
<body>
	<div class="container">
		<div class="header">
			<h1>Numerology Calculator <small>A Skillcrush Project</small>
			</h1>
		</div>
		 <img src="/public/img/background.jpg" alt="Background"/>
		<hr />
		 <p>
		<%= yield %>
		 </p>
	</div>
</body> 
</html>