<!-- Sinatra ERB Template for Numerology app --> 
<!DOCTYPE html> <html>
<head>
<meta charset="UTF-8">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="/css/people.css">
	<!-- Latest compiled and minified CSS 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
</head>
<title>Numerology App</title> </head>
<body>
	<section>
	<div class="container">
		<div class="header">
			<h1>Numerology Calculator <small>- A Skillcrush Project</small>
			</h1>
		</div>
		<hr />
		 <p>
		<%= yield %>
		 </p>
	</div>
</section>
<footer>
<p><a href="/people">See all the people in our database!</a></p>
</footer>
</body> 
</html>